:root{
    border-radius: 8px;
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url('baneeer.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    
    align-items: center;
    justify-content: center;
    
}
.productos{
    display: flex;
    align-items: center;
    text-align: center;
    padding: auto;
}
h2, h3{
    padding: 8px;
    color: rgb(19,184,82);
    text-align: center;
    -webkit-text-stroke: 0.5px black;
    
    
}
.caja-resaltada{
    margin: 0px 0px 10px 0px;
    text-align: center;
    border: 0.5px solid black ;
    font-display: block;
}
.titulo{
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 184, 82);
    

}
.menu ul{
    display: flex;
    list-style: none;
    gap: 70px;
    justify-content: center;
    
    
}
.menu{
    margin: 10px 0 5px 0;
    
}  

.menu a{
    text-decoration: none;
}
    



body{
    background-color: rgb(63, 187, 212);
    padding: 8px 8px 8px 8px;
    width: 100%;
}
button{
    cursor: pointer;
}

