

header{
    background-image: url('baneeer.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.titulo{
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(193, 201, 109);
    

}
.menu ul{
    display: flex;
    list-style: none;
    gap: 70px;
    justify-content: center;
    
    
}
.menu{
    margin: 10px 0 5px 0;
    
}  

.menu a{
    text-decoration: none;
}
    



body{
    background-color: rgb(63, 187, 212);
    padding: 8px 8px 8px 8px;
    width: 100%;
}
button{
    cursor: pointer;
}

